<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.bishe.wms.mapper.CustomerMapper">



    <select id="selectById" resultType="team.bishe.wms.bean.Customer">
        select customer_name as name
        from customer
        where customer_id = #{id}
    </select>

    <select id="selectByName" resultType="team.bishe.wms.bean.Customer">
        select * from customer where customer_name = #{name}
    </select>

    <insert id="insert" parameterType="team.bishe.wms.bean.Customer">
        insert into customer(customer_id,customer_name,customer_tel,customer_email,customer_address)
        values(#{id},#{name},#{telephone},#{email},#{address})
    </insert>

    <update id="update" parameterType="team.bishe.wms.bean.Customer">
        update wms_customer
        set customer_name = #{name},
            customer_tel = #{telephone},
            customer_email = #{email},
            customer_address = #{address}
        where customer_id =#{id}
    </update>




</mapper>
