<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.bishe.wms.mapper.PositionMapper">
    <resultMap id="positionMap" type="team.bishe.wms.bean.Position">
        <id property="id" column="pos_id"/>
        <result property="num" column="pos_num"/>
        <result property="name" column="pos_nm"/>
        <result property="status" column="status"/>
        <!--<collection property="trays" resultMap="team.bishe.wms.mapper.TrayMapper.trayMap" />-->
    </resultMap>
    <resultMap id="positionMap2" type="team.bishe.wms.bean.Position">
        <id property="id" column="pos_id"/>
        <result property="num" column="pos_num"/>
        <result property="name" column="pos_nm"/>
        <result property="status" column="status"/>
        <collection property="trays" column="{posid=pos_id}"
                    javaType="java.util.List"
                    ofType="team.bishe.wms.bean.Tray"
                    select="team.bishe.wms.mapper.TrayMapper.queryByPosId" />
    </resultMap>
    <select id="queryPositionList" resultMap="positionMap">
        select * from t_position_info
    </select>
    <select id="queryById" resultMap="positionMap2">
        select * from t_position_info where pos_id = #{posid}
    </select>
    <select id="queryByWhId" resultMap="positionMap">
        select p.* from t_position_info p
          left join t_wh_position wp
          on p.pos_id = wp.pos_id
        where whouse_id = #{whid}
    </select>
</mapper>
